@import "./variables.less";

#Container{
  .items-container{
    .loader-wrap{
      width: 74px;
      margin: 100px auto;
      .loader {
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #8c8c8c;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        -webkit-filter: drop-shadow(0.5px 0.5px 10px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0.5px 0.5px 10px rgba(0, 0, 0, 0.1));
      }
    }
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .items-wrapper{
      overflow: auto;
      width: 100%;
      margin: 0 auto;
      .item{
        width: 46%;
        margin: 1% 2%;
        height: 24vmax;
        min-height: 150px;
        // border: 1px solid;
        // width: 30.5vmax;
        float: left;
        // margin: 0 10px 10px 10px;
        // height: 17vmax;
        overflow: hidden;
        position: relative;
        .items-mask{
          background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 50%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 50%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 50%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          color: #fff;
          z-index: 1;
          text-align: center;
          transition: all .3s ease-in-out;
        }
        .city{
          z-index: 1;
          position: absolute;
          color: #fff;
          font-size: 15px;
          left: 0;
          top: 0;
          background-color: #DC8F00;
          padding: 2px 4px;
        }
        .food-info{
          z-index: 1;
          position: absolute;
          bottom: 0px;
          text-align: left;
          color: #fff;
          padding: 8px;
          text-shadow: 0 2px 4px rgba(0,0,0,.5);
          .town{
            font-style: italic;
            font-size: 15px;
          }
          .hostWords{
            // max-height: 20px;
            max-height: 0px;
            overflow: hidden;
            transition: 0.3s;
            font-size: 15px;
            hr{
              width: 4vw;
              border: 3px solid #fff;
              margin-left: 0;
            }
          }
        }
        img{
          display: block; 
          width: 100%; 
          height: auto;
        }
        &:hover{
          cursor: pointer;
          .hostWords{
            max-height: 66px;
          }
        }
      }
    }
  }
}

@media (min-width: @sizes[tb]) {
  #Container{
    .items-container{
      .items-wrapper{
        width: 90%;
        .item{
          width: 31%;
          margin: 1% 1%;
          height: 17vmax;
          min-height: unset;
        }
      }
    }
  }
}